@font-face {
    font-family: IconFont;
    src: url('../fonts/iconfont.eot');
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), url('../fonts/iconfont.woff') format('woff'), url('../fonts/iconfont.ttf') format('truetype'), url('../fonts/iconfont.svg#iconfont') format('svg')
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none
}

html,
body {
    height: 100%;
    -webkit-app-region: drag;
    overflow: hidden;
    position: relative
}

body {
    color: #333333;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

::selection {
    background: #D9D9D9
}

#app {
    height: 100%;
    background-color: #FFFFFF;
    border: 1px solid #999999;
    overflow: hidden;
    position: relative
}

#app.focusing {
    border: 1px solid #F5F5F5;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.8)
}

#app.maximize {
    border: 0 !important;
    box-shadow: none !important
}

#app .Titorite-container {
    width: 100%;
    height: 100%;
    line-height: 1.5;
    position: relative
}

#app .Titorite-container .Titorite-left {
    left: 0;
    width: 50%;
    height: 100%;
    -webkit-app-region: no-drag;
    font-size: 15px;
    background-color: #F5F5F5;
    position: absolute;
    transition: width .55s ease-in-out, left .55s ease-in-out
}

#app .Titorite-container.writing .Titorite-left {
    width: 100%
}

#app .Titorite-container.reading .Titorite-left {
    left: -50%
}

#app .Titorite-container .Titorite-left #Titorite-editor {
    width: 100%;
    height: 100%
}

#app .Titorite-container .Titorite-spliter {
    width: 1px;
    height: calc(100% - 35px - 30px);
    top: 35px;
    margin-left: -0.68px;
    background-color: #E5E5E5;
    position: absolute;
    z-index: 10;
    transition: left .55s ease-in-out
}

#app .Titorite-container.writing .Titorite-spliter {
    left: calc(100% + 1px)
}

#app .Titorite-container.reading .Titorite-spliter {
    left: 0%
}

#app .Titorite-container.preview .Titorite-spliter {
    left: 50%
}

#app .Titorite-container .Titorite-right {
    left: 50%;
    width: 50%;
    height: 100%;
    font-size: 16px;
    background-color: #FFFFFF;
    position: absolute;
    transition: width .55s ease-in-out, left .55s ease-in-out
}

#app .Titorite-container.writing .Titorite-right {
    left: 100%
}

#app .Titorite-container.reading .Titorite-right {
    width: 100%;
    left: 0
}

#app .Titorite-container .Titorite-right .content-container {
    width: calc(100% + 20px);
    height: 100%;
    background-color: #FFFFFF;
    overflow-y: scroll;
    overflow-x: hidden
}

#app .Titorite-container .Titorite-right .content-container #content {
    min-height: 100%;
    color: #333333;
    padding-top: 35px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 45px;
    word-wrap: break-word
}

#app .Titorite-container>* {
    -webkit-app-region: no-drag
}

#app .Titorite-container .cover-top {
    width: 100%;
    height: 40px;
    top: 0;
    -webkit-app-region: drag !important;
    z-index: 10;
    position: absolute
}

#app .Titorite-container .cover-bottom {
    left: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 25px;
    padding: 0 10px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    border-top: 1px solid rgba(128, 128, 128, 0.3);
    background: linear-gradient(to right, #F5F5F5 50%, #FFFFFF 50%);
    -webkit-app-region: no-drag
}

#app .Titorite-container .cover-bottom .sidemenu-button {
    font-family: IconFont;
    display: inline-block;
    font-size: 11px;
    color: #b3b3b3;
    transition: color .3s
}

#app .Titorite-container .cover-bottom .sidemenu-button:hover {
    cursor: pointer;
    color: #555555
}

#app .Titorite-container .cover-bottom .popupmenu-button {
    font-family: IconFont;
    display: inline-block;
    font-size: 16px;
    color: #b3b3b3;
    cursor: default;
    transition: color .3s
}

#app .Titorite-container .cover-bottom .popupmenu-button:hover {
    color: #555555
}

#app .Titorite-container .cover-bottom .popupmenu-button.active {
    color: #333333
}

#app .Titorite-container .cover-bottom .popupmenu-button.active:hover {
    color: #333333
}

#app .side-menu {
    width: 300px;
    margin-left: -300px;
    height: 100%;
    background: #fafafa;
    transition: margin-left .4s ease-in-out;
    padding-top: 50px;
    cursor: default;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    border-right: 1px solid #ccc
}

#app .opened .side-menu {
    margin-left: 0
}

#app .side-menu .logo {
    border-bottom: 1px solid #ececec;
    background-image: url("../cat.png");
    padding-bottom: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%
}

#app .side-menu ul {
    margin-top: 10px;
    padding: 0;
    color: #444;
    font-size: 14px;
    letter-spacing: 1px
}

#app .side-menu ul li {
    font-family: Roboto, Helvetica, 'Segoe UI', Arial, sans-serif;
    list-style-type: none;
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
    text-align: left;
    vertical-align: middle
}

#app .side-menu ul li:hover {
    background-color: rgb(236, 236, 236)
}

#app .side-menu ul li:active {
    background-color: rgb(222, 222, 222)
}

#app .side-menu ul li.break {
    height: 10px;
    pointer-events: none;
    border-bottom: 1px solid #ececec;
    margin-bottom: 10px
}

#app .popup-menu {
    width: 232px;
    bottom: 22px;
    right: 0px;
    outline: none;
    position: fixed;
    pointer-events: all;
    cursor: default;
    -webkit-user-select: none;
    display: none
}

#app .popup-menu.opened {
    display: block
}

#app .popup-menu ul {
    padding-left: 0;
    border: 1px solid #ccc;
    font-size: 14px;
    background-color: #fafafa
}

#app .popup-menu ul li {
    width: 100%;
    list-style-type: none;
    line-height: 20px;
    display: inline-flex;
    align-items: center;
    padding: 10px;
    letter-spacing: 1px;
    color: #444;
    font-family: Roboto, Helvetica, 'Segoe UI', Arial, sans-serif
}

#app .popup-menu ul li:before {
    content: '';
    display: inline-block;
    width: 20px;
    margin-right: 8px
}

#app .popup-menu ul li.active:before {
    content: '\e637';
    font-family: IconFont;
    font-size: 20px
}

#app .popup-menu ul li:hover {
    background-color: rgb(236, 236, 236)
}

#app .popup-menu ul li:active {
    background-color: rgb(222, 222, 222)
}

#app .popup-menu ul li .fa {
    margin-right: 8px;
    opacity: 0
}

#app .menu-cover,
#app .about-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    transition: background-color .5s ease-in-out;
    pointer-events: none;
    top: 0;
    left: 0
}

#app .menu-cover.opened,
#app .about-cover {
    background-color: rgba(77, 77, 77, 0.2);
    pointer-events: auto
}

#app .about-cover .about {
    width: 550px;
    margin: 20% auto;
    padding: 25px 0;
    background-color: #FFFFFF;
    border-radius: 1px;
    box-shadow: 0px 0px 5px #555555;
}

#app .about-header {
    border-bottom: 1px solid #ccc;
    padding: 0 25px;
}

#app .about-header img.logo {
    width: 120px;
    margin-bottom: -5px;
}

#app .window-operation {
    top: 0px;
    right: 0px;
    -webkit-app-region: no-drag;
    position: fixed;
    z-index: 100
}

#app .window-operation>div {
    width: 30px;
    height: 25px;
    text-align: center;
    padding: 5px;
    color: #CCCCCC;
    display: inline-block;
    float: left;
    -webkit-app-region: no-drag;
    font-family: IconFont;
    cursor: default
}

#app .window-operation>div:hover {
    background-color: rgba(196, 196, 196, 0.4);
    color: #333333
}

#app .window-operation>div:active {
    background-color: #2DB4D8;
    color: #FFFFFF
}

#app .window-operation .minimize {
    padding-top: 12px;
    line-height: 6.5px;
    font-size: 13px
}

#app .window-operation .maximize {
    font-size: 14px;
    line-height: 17.5px
}

#app .window-operation .restore {
    font-size: 15px;
    line-height: 15px
}

#app .window-operation .close {
    font-size: 14px;
    line-height: 12px
}

#app .window-operation .close:hover {
    background-color: #e81123;
    color: #FFFFFF
}

#app .window-operation .close:active {
    background-color: #c0091b
}

.maximize #app .window-operation {
    top: 3px !important;
    right: 3px !important
}

#app .n-resize {
    width: 100%;
    height: 6px;
    top: -1px;
    -webkit-app-region: no-drag;
    background: rgba(0, 0, 0, 0);
    opacity: 0;
    overflow: hidden;
    position: absolute;
    cursor: n-resize
}

#app .ne-resize {
    width: 7px;
    height: 7px;
    top: -1px;
    right: -1px;
    -webkit-app-region: no-drag;
    background: rgba(0, 0, 0, 0);
    opacity: 0;
    overflow: hidden;
    position: absolute;
    cursor: ne-resize
}

#app .e-resize {
    width: 5px;
    height: 100%;
    top: -1px;
    right: -1px;
    -webkit-app-region: no-drag;
    background: rgba(0, 0, 0, 0);
    opacity: 0;
    overflow: hidden;
    position: absolute;
    cursor: e-resize
}

#app .se-resize {
    width: 7px;
    height: 7px;
    right: -1px;
    bottom: -1px;
    -webkit-app-region: no-drag;
    background: rgba(0, 0, 0, 0);
    position: absolute;
    cursor: se-resize
}

#app .s-resize {
    width: 100%;
    height: 6px;
    bottom: -1px;
    -webkit-app-region: no-drag;
    background: rgba(0, 0, 0, 0);
    opacity: 0;
    overflow: hidden;
    position: absolute;
    cursor: s-resize
}

#app .sw-resize {
    width: 7px;
    height: 7px;
    bottom: -1px;
    left: -1px;
    -webkit-app-region: no-drag;
    background: rgba(0, 0, 0, 0);
    opacity: 0;
    overflow: hidden;
    position: absolute;
    cursor: sw-resize
}

#app .w-resize {
    width: 6px;
    height: 100%;
    top: -1px;
    left: -1px;
    -webkit-app-region: no-drag;
    background: rgba(0, 0, 0, 0);
    opacity: 0;
    overflow: hidden;
    position: absolute;
    cursor: w-resize
}

#app .nw-resize {
    width: 7px;
    height: 7px;
    top: -1px;
    left: -1px;
    -webkit-app-region: no-drag;
    background: rgba(0, 0, 0, 0);
    opacity: 0;
    overflow: hidden;
    position: absolute;
    cursor: nw-resize
}

#app .tip-instance {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: #fff;
    padding: 10px 0;
    border-bottom: 1px solid #e2e2e2;
    z-index: 1;
    font-size: .9rem;
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    transition: transform .35s ease
}

#app .tip-instance.tip-pop {
    width: 400px;
    max-width: 80%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-115%);
    transform: translateX(-50%) translateY(-115%);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
    border-bottom: none;
    border-radius: 0 0 2px 2px
}

#app .tip-main {
    padding: 0 40px 0 20px;
    font-family: Roboto, Helvetica, 'Segoe UI', Arial, sans-serif;
    word-wrap: break-word
}

#app .tip-shown {
    -ms-transform: translateY(0);
    transform: translateY(0)
}

#app .tip-shown.tip-pop {
    -ms-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
}

#app .tip-info,
#app .tip-success,
#app .tip-warning {
    color: #fff
}

#app .tip-default {
    color: #333;
    background-color: #fff;
    border-color: #e2e2e2
}

#app .tip-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6
}

#app .tip-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1
}

#app .tip-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc
}

#app .tip-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1
}